<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:allowBackup="false"
		android:label="NoHate"
		android:networkSecurityConfig="@xml/network_security_config"
		android:supportsRtl="true"
		android:usesCleartextTraffic="false">
		<activity
			android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".auth.OAuthCallbackActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="nohate" android:host="oauth" />
			</intent-filter>
		</activity>

		<activity
			android:name=".auth.SessionLoginActivity"
			android:exported="false" />

		<receiver
			android:name=".work.CancelScanReceiver"
			android:exported="false" />

		<service
			android:name="androidx.work.impl.foreground.SystemForegroundService"
			android:exported="false"
			android:foregroundServiceType="dataSync" />
	</application>
</manifest>
